<mat-tab-group>
  <mat-tab label="Wiadomości">
    <ng-template matTabContent>
      <p>Wiadomości</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Rachunki">
    <ng-template matTabContent>
      <p>Rachunki</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Użytkownicy">
    <ng-template matTabContent>
      <p>Użytkownicy</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Ustawienia">
    <ng-template matTabContent>
      <p>Ustawienia</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>
