<mat-card>
  <mat-card-header>
    {{ header() }}

    @if (hasInteraction()) {
      <button type="button" mat-icon-button (click)="triggerInteraction()" [disabled]="loading()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    }
  </mat-card-header>
  <mat-card-content>
    @if (loading()) {
      @if (refreshing()) {
        <ng-container *ngTemplateOutlet="reloadingContent" />
      } @else {
        <ng-container *ngTemplateOutlet="loadingContent" />
      }
    }

    @if (loadingError()) {
      <ng-container *ngTemplateOutlet="loadingErrorContent" />
    } @else {
      <div class="widgetContent" [ngClass]="{ 'widgetContent--loading': loading() && !refreshing() }">
        <ng-content></ng-content>
      </div>
    }
  </mat-card-content>
</mat-card>

<ng-template #loadingContent>
  <div class="loadingState">
    <mat-spinner mode="indeterminate"></mat-spinner>
    <h5>Jeszcze chwila...</h5>
  </div>
</ng-template>

<ng-template #reloadingContent>
  <div class="loadingState overlay">
    <mat-spinner mode="indeterminate"></mat-spinner>
    <h5>Odświeżanie...</h5>
  </div>
</ng-template>

<ng-template #loadingErrorContent>
  <div class="errorState">
    <mat-icon>error</mat-icon>
    <h5>Wystąpił błąd przy pobieraniu danych</h5>
  </div>
</ng-template>
