<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-label for="password">Hasło</mat-label>
  <input
    matInput
    [formControl]="passwordControl"
    type="password"
    name="password"
    placeholder="Wprowadź hasło"
    required
  />
  @if (getError(passwordControl)) {
    <mat-error>{{ getError(passwordControl) }}</mat-error>
  }
</mat-form-field>

<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-label for="repeat-password">Powtórz hasło</mat-label>
  <input
    matInput
    [formControl]="repeatPasswordControl"
    type="password"
    name="repeat-password"
    placeholder="Wprowadź hasło"
    required
  />
  @if (getError(repeatPasswordControl)) {
    <mat-error>{{ getError(repeatPasswordControl) }}</mat-error>
  }
</mat-form-field>
